aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
aiosqlite==0.21.0
async-timeout==5.0.1
attrs==25.3.0
frozenlist==1.7.0
idna==3.10
iso8601==2.1.0
Kurigram==2.2.6
multidict==6.6.3
nest-asyncio==1.6.0
propcache==0.3.2
pyaes==1.6.1
pypika-tortoise==0.6.1
PySocks==1.7.1
python-dotenv==1.1.1
pytz==2025.2
TgCrypto==1.2.5
tortoise-orm==0.25.1
typing_extensions==4.14.1
yarl==1.20.1
